<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cmiecom>
                <model>cmi\cmiecom\Model\cmiecom</model>
                <debug>1</debug>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <title>Moroccan Payment</title>
                <payment_action>authorize</payment_action>
                <currency>MAD</currency>
                <tipo_transaccion>0</tipo_transaccion>
                <facturar>1</facturar>
                <mantener_carrito>1</mantener_carrito>
                <mantener_carrito>1</mantener_carrito>
                <confirmation_mode>1</confirmation_mode>
                <auto_redirect>0</auto_redirect>
            </cmiecom>
        </payment>
    </default>
</config>
